In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Datos.xlsx")

In [3]:
df.head()

      Nombre   X1  X2  Y
0       Luis  400  20  0
1  Francisco  450  35  0
2      Maria  500  25  0
3     Alvaro  600  15  0
4    Soledad  600  30  0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [5]:
np.random.seed(1234)

In [6]:
X = df[["X1","X2"]]
Y = df["Y"]

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [21]:
nbc = GaussianNB()

In [22]:
nbc.fit(X_train,y_train)

GaussianNB(priors=None)

In [23]:
##nbc = GaussianNB(priors=None)

In [24]:
y_pred= nbc.predict(X_test)

In [25]:
accuracy_score(y_test,y_pred)

1.0

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[4, 0],
       [0, 3]], dtype=int64)

In [29]:
nbc.predict([[650,41],[1300,20]])

array([0, 1], dtype=int64)

In [ ]:
confusion_matrix(y_test,y_pred)